@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=Roboto:wght@400;700&display=swap');

body {
  box-sizing: border-box;
  background-color: #000000;
  color: #f6f6f6;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.apresentacao {
  padding: 5% 15%;
}

.hello {
  font-size: 1.9rem;
  font-family: 'Montserrat', sans-serif;
  color: #ff0f35;
  text-align: center;
}

.casa {
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  color: #ff0f35;
  text-align: center;
}

.oie {
  font-size: 1.75rem;
  color: #ff6b5a;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.minhas__ideias {
  color: #ff6b5a;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin-top: 5%;
}

.link {
  color: #f059a2;
}
.apresentacao__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.apresentacao__links__navegacao {
  /* background: #fc4c4e; */
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid #ff6b5a;
  width: 50%;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px 0;
  text-decoration: none;
  color: #f6f6f6;
  font-family: 'Montserrat', sans-serif;
}

.fotos {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin-top: 5%;
}

.ideias {
  text-align: justify;
  line-height: 1.2;
}

.ideias__lista {
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

@media (max-width: 600px) {
  .fotos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    margin-top: 5%;
  }

  .casa {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #ff0f35;
    text-align: center;
  }
}
